* {
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    position: relative;
    font-size: 16px;
}

.card-container {
    max-width: 450px;
    margin: 3% auto;
    border-radius: 1rem;
    overflow: hidden;
    background-color: white;
}

.hero {
    width: 100%;
}

.card-container__text {
    text-align: center;
    padding: 3rem;
}

.title {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 30px;
}


.card-container__text p {
    color: hsl(224, 23%, 55%);
}

.subtitle {
    padding: 2rem;
}

.price {
    background-color: hsl(225, 100%, 98%);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.price-text {
    display: flex;
    align-items: center;
    text-align: left;
}

.price-text div {
    margin: 0 1rem;
}

.price-text h4 {
    font-weight: 900;
}

.price a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.price a:hover {
    color: rgb(90, 90, 90);
}

.proceed-btn {
    display: block;
    width: 100%;
    margin: 15px auto;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 0.5rem;
    padding: 0.6rem 0;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.proceed-btn:hover {
    background-color: hsl(246, 48%, 69%);
}

.cancel-btn {
    margin: auto;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 700;
    color: black;
}

.cancel-btn:hover {
    color: rgb(99, 99, 99);
}


.attribution {
    text-align: center;
}



@media only screen and (max-width: 480px) {
    .card-container {
        max-width: 85%;
    }

    .card-container__text {
        padding: 0.5rem;
    }

    .price-text {
        font-size: small;
    }

    .price a {
        font-size: medium;
    }

    .attribution {
        font-size: small;
    }
}